@import "tailwindcss";

/* @import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap'); */

:root {
  color-scheme: dark;
}

html, body, #__next {
  height: 100%;
  background: #000;
  color: #fff;
  font-family: 'Inter', system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial;
}

a { color: inherit; text-decoration: none; }
@import "tailwindcss";

@theme {
  --color-primary: #8b5cf6; /* purple or your brand color */
}

